<main>
    <!--<h1>No shoes to display. Be the first to create a new offer...</h1>-->
    <div class="shoes">
        <div class="shoe">
            <img src="https://i1.t4s.cz/products/ar4149-001/nike-air-zoom-pegasus-36-gs-251390-ar4149-001.jpeg">
            <h3>Nike Pegasus</h3>
            <a href="/shoes/details">Buy it for $72,90</a>
        </div>
    </div>
</main>